 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.btn_small {
    height: 24px;
    width: 50px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}

.viewtask_header {
    margin-top: 5px;
    text-align: center;
}

.box {
    padding-top: 55px;
}


.spacing {
    margin-left: 35px;
    text-align: left;
    
}



