{% extends 'base.html'%} {% block content %}
<h3>Tasks</h3>
<div class="row">
    <ul class="containter">
        {% for task in tasks %}
        
        <li>
             <div class="collapsible-header">
                <div class="col s6">
                   
                    
                </div>
                 <div class="task_header col s12">
                <div class="row">
                   Project Name:<strong class="blue-text spacing">{{task.project_name}}</strong>              
                </div>
                 <div class="row"> 
                    Task Name: <strong class="green-text">{{task.task_name}}</strong> 
                  </div>  
                  <div class="row"> 
                    Due Date: <strong class="green-text">{{task.due_date}}</strong>
                    </div>  
                  <div class="row">   
                    Assigned To: <strong class="green-text">{{task.staff_name}}</strong>
                    </div>  
                <div class="row"> 
                    Description: <strong class="green-text">{{task.task_description}}</strong>
                    </div>  
                       
                
            </div>
                    </li>
        {% endfor %}
    </ul>
</div>






{% endblock %}