{% extends 'base.html'%} {% block content %}
<h3>Tasks</h3>
<div class="row">

   <ul class="collapsible">
        {% for task in tasks %}
        
        <li>
            <div class="collapsible-header">
                <div class="col s3"> 
                   
                    
                </div>
                 <div class="task_header col s12">
                <div class="row">
                   Project Name:<strong class="blue-text spacing">{{task.project_name}}</strong>              
                </div>
                  <div class="row">
                    Task Name: <strong class="blue-text spacing">{{task.task_name}}</strong> 
                  </div>  
                  <div class="row"> 
                    Due Date: <strong class="blue-text spacing">{{task.due_date}}</strong>
                    </div>  
                  <div class="row">   
                    Assigned To: <strong class="blue-text spacing">{{task.staff_name}}</strong>
                    </div>  
                <div class="row"> 
                    Description: <strong class="blue-text spacing">{{task.task_description}}</strong>
                    </div>  
                       
                         <div class="row">
            <div class="switch">
                                <label>
                    {% if task.key %}
                          <input id="key" name="key" type="checkbox" checked>
                    {% else %}
                         <input id="key" name="key" type="checkbox">
                    {% endif%}
                  <span class="lever"></span>
                  Key
                </label>
                <label>
                    {% if task.external %}
                          <input id="external" name="external" type="checkbox" checked>
                    {% else %}
                         <input id="external" name="external" type="checkbox">
                    {% endif%}
                  <span class="lever"></span>
                  External Customer
                </label>
                <label>
                    {% if task.billable %}
                          <input id="billable" name="billable" type="checkbox" checked>
                    {% else %}
                         <input id="billable" name="billable" type="checkbox">
                    {% endif%}
                  <span class="lever"></span>
                  Is Billable
                </label>
            </div>
        </div>
             </div>
           </div> 
 
            
                    </li>
                    
        {% endfor %}
    </ul>
</div>






{% endblock %}