{% extends 'base.html'%} {% block content %}
<h4 class="center-align">Task List</h4>
<div class="row">
   <ul class="container">
        {% for task in tasks %}
        <li>
                <div class="card horizontal">
                <div class="col"> 
                </div>
                 <div class="task_header col s10">
           
                <div class="row">
                <div class="col s4">Project Name:</div> 
                <strong class="blue-text text-darken-2">{{task.project_name}}</strong>   
                 </div> 

                
                         
                <div class="row">
                     <div class="col s4">Task Name: </div>  <strong class="blue-text text-darken-2">{{task.task_name}}</strong>
                 </div>  
                  <div class="row"> 
                    <div class="col s4">Due Date: </div><strong class="blue-text text-darken-2">{{task.due_date}}</strong>
                    </div>  
                  <div class="row">   
                    <div class="col s4">Assigned To: </div><strong class="blue-text text-darken-2">{{task.staff_name}}</strong>
                    </div>  
                
            <div class="row">
            <div class="switch">
                                <label>
                    {% if task.key %}
                          <input id="key" name="key" disabled type="checkbox" checked>
                    {% else %}
                         <input id="key" name="key" disabled type="checkbox">
                    {% endif%}
                  <span class="lever"></span>
                  Key
                </label>
                <label>
                    {% if task.external %}
                          <input id="external" name="external" disabled type="checkbox" checked>
                    {% else %}
                         <input id="external" name="external" disabled type="checkbox">
                    {% endif%}
                  <span class="lever"></span>
                  External Customer
                </label>
                <label>
                    {% if task.billable %}
                          <input id="billable" name="billable" disabled type="checkbox" checked>
                    {% else %}
                         <input id="billable" name="billable" disabled type="checkbox">
                    {% endif%}
                  <span class="lever"></span>
                  Is Billable
                </label>
            </div>
        </div>
             </div>
           </div> 
 
            
                    </li>
                    
        {% endfor %}
    </ul>
</div>






{% endblock %}